//constants

$color-lightpink: #f5c5cd;
$color-pink: #0844ff;
$color-red: #DC143C;
$color-darkred: #9a0e2a;
$color-white: #FFFFFF;
$color-off-white: #f2e9e4;
$color-black: #000000;
$color-grey: #ddd;

$background-gradient: linear-gradient(to right, $color-pink, $color-lightpink);

$font-extrabig: 70px;
$font-big: 54px;
$font-reg: 36px;
$font-small: 24px;

$card-padding: 1em;
$card-padding-double: 4em;
$radius: 8px;

$padding-top: 3em;

$box-shadow: 6px 6px 20px 0px #929090;



@keyframes pulsate {
    0% { 
        opacity: 0;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0;
    }
}
