//constants

$color-pink: #FF0844;
$color-red: #DC143C;
$color-darkred: #9a0e2a;
$color-white: #FFFFFF;
$color-black: #000000;
$color-yellow: yellow;

$font-extrabig: 70px;
$font-big: 54px;
$font-reg: 36px;
$font-small: 24px;

$card-padding: 10% 5%;
$radius: 8px;

$padding-top: 50px;