//constants

$color-lightpink: #f5c5cd;
$color-darkblue: #5106ba;
$color-eggplant: #4F769F;
$color-white: #FFFFFF;
$color-off-white: #f2e9e4;
$color-black: #000000;
$color-grey: #ddd;

$font-extrabig: 70px;
$font-big: 54px;
$font-reg: 36px;
$font-small: 24px;
$font-smaller: 16px;
$font-mini: 14px;

$card-padding: 1em;
$card-padding-regular: 3em;
$card-padding-double: 4em;
$radius: 8px;

$padding-top: 3em;

$box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);



@keyframes pulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0;
    }
}
