//constants

$color-lightpink: #f5c5cd;
$color-darkblue: #5106ba;
$color-eggplant: #4e86c1;
$color-purple: #ba0144;
$color-white: #FFFFFF;
$color-off-white: #f2e9e4;
$color-black: #000000;
$color-grey: #ddd;
$color-cyan: #008b8b;

$font-extrabig: 70px;
$font-big: 54px;
$font-reg: 36px;
$font-small: 24px;
$font-smaller: 16px;
$font-mini: 14px;


$card-padding: 1em;
$card-padding-regular: 3em;
$card-padding-double: 4em;
$radius: 8px;

$padding-top: 3em;


@keyframes pulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0;
    }
}
