//constants

$color-lightpink: #f6a6b4;
$color-pink: #FF0844;
$color-red: #DC143C;
$color-darkred: #9a0e2a;
$color-white: #FFFFFF;
$color-black: #000000;

$font-extrabig: 70px;
$font-big: 54px;
$font-reg: 36px;
$font-small: 24px;

$card-padding: 1em;
$card-padding-double: 4em;
$radius: 8px;

$padding-top: 3em;

$box-shadow: 6px 6px 20px 0px #929090;