@import "constants";

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
  position:relative;

  ::-webkit-scrollbar {
    display: none;
  }
}

section {
  min-height: 100vh;
}

h1 {
  font-size: $font-big;
  font-weight: 900;
}

h2 {
  font-size: $font-reg;
}

a {
  text-decoration: none;
  color: $color-darkblue;
  cursor: pointer;
}


.anim {
  animation: pulsate 1.5s;
  animation-iteration-count: infinite; 
  -webkit-animation: pulsate 1.5s;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
}


.header {
  padding-top: $card-padding-regular;
  text-align: center;
  font-size: $font-reg;
  font-weight: 900;
}

.header-color {
  color: $color-blue;
}


//GRID
.layout--two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.layout--two-columns-auto {
  display: grid;
  grid-template-columns: auto 1fr;
}

.layout--two-columns-large-small {
  display: grid;
  grid-template-columns: 2fr 1fr;
}


.layout--three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.layout--four-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
} 

.layout--five-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.layout--six-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr;
}

.layout--two-rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
}


.layout--three-rows {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.layout--three-rows-fix {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

//repeating components

.button {
  margin: 3em 0;

  a{
    text-decoration: none;
    color: $color-white;
    padding: 10px 10px;
    border: 2px solid $color-white;
    border-radius: $radius;
    font-size: $font-small;
    margin-bottom: 4em;
    transition: .5s ease;

    &:hover {
      background-color: $color-darkblue;
    }

    &:active {
      background-color: $color-darkblue;
    }
  }
}

.button-dark {
  margin-bottom: 3em;

  a{
    text-decoration: none;
    color: $color-darkblue;
    background-color: $color-white;
    padding: 10px 10px;
    border: 2px soliblue;
    border-radius: $radius;
    font-size: $font-small;
    margin-bottom: 4em;
    transition: .5s ease;

    &:hover {
      background-color: $color-darkblue;
      color: $color-white;
    }

    &:active {
      background-color: $color-darkblue;
      color: $color-white;
    }
  }
}

button {
  background-color: $color-blue;
  text-decoration: none;
  color: $color-white;
  padding: 10px 10px;
  border: 2px solid $color-white;
  border-radius: $radius;
  font-size: $font-small;
  margin-bottom: 4em;
  transition: .5s ease;

  &:hover {
    background-color: $color-darkblue;
  }

  &:active {
    background-color: $color-darkblue;
  }
}


//ICONS

.icon--github {
  background-image: url('assets/github-brands.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.icon--twitter {
  background-image: url('assets/twitter-brands.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.icon--linkedin {
  background-image: url('assets/linkedin-in-brands.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.icon--email {
  background-image: url('assets/at-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
}