@import "constants";

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

section {
  min-height: 100vh;
  padding-left: $card-padding;
  padding-right: $card-padding;
  padding-bottom: 3em;
}

h1 {
  font-size: $font-big;
}

h2 {
  font-size: $font-reg;
}


.header {
  color: $color-pink;
  padding-top: $card-padding;
  padding-bottom: $card-padding;
  text-align: center;
  font-size: $font-reg;
  font-weight: bold;
}


//GRID
.layout--two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.layout--two-columns-auto {
  display: grid;
  grid-template-columns: auto 1fr;
}

.layout--two-columns-large-small {
  display: grid;
  grid-template-columns: 2fr 1fr;
}


.layout--three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.layout--four-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
} 

.layout--five-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.layout--two-rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
}


.layout--three-rows {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}


//repeating components

.button {
  margin: 3em 0;

  a{
    text-decoration: none;
    color: $color-white;
    padding: 10px 10px;
    border: 2px solid $color-white;
    border-radius: $radius;
    font-size: $font-small;
    margin-bottom: 4em;
    transition: .5s ease;

    &:hover {
      background-color: $color-red;
    }

    &:active {
      background-color: $color-darkred;
    }
  }
}

.button-dark {
  margin-bottom: 3em;

  a{
    text-decoration: none;
    color: $color-black;
    padding: 10px 10px;
    border: 2px solid $color-black;
    border-radius: $radius;
    font-size: $font-small;
    margin-bottom: 4em;
    transition: .5s ease;

    &:hover {
      background-color: $color-red;
      color: $color-white;
    }

    &:active {
      background-color: $color-darkred;
      color: $color-white;
    }
  }
}

.all-red {
  color: $color-red;
}


//ICONS

.icon--github {
  background-image: url('assets/github-brands.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.icon--twitter {
  background-image: url('assets/twitter-brands.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.icon--linkedin {
  background-image: url('assets/linkedin-in-brands.svg');
  background-position: center;
  background-repeat: no-repeat;
}
