@import "constants";

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  position:relative;
  margin: 0 3%;

  ::-webkit-scrollbar {
    display: none;
  }
}

section {
  min-height: 100vh;
}

h1 {
  font-size: $font-big;
  font-weight: 900;
}

h2 {
  font-size: $font-reg;
}

h3 {
  font-size: $font-smaller;
}

a {
  text-decoration: none;
  color: $color-darkblue;
  cursor: pointer;
}


.anim {
  animation: pulsate 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1.5s;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}


.header {
  padding-top: $card-padding-regular;
  text-align: center;
  font-size: $font-reg;
  font-weight: 900;
}

.header-color {
  color: $color-darkblue;
}


//GRID
.layout--two-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
}

.layout--two-columns-auto {
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto 1fr;
  -ms-grid-columns: auto 1fr;
}

.layout--two-columns-large-small {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -ms-grid-columns: 2fr 1fr;
}

.layout--three-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
}

.layout--four-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
}

.layout--five-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
}

.layout--six-columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.layout--two-rows {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
}

.layout--three-rows {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
}

.layout--three-rows-fix {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  -ms-grid-rows: 1fr auto 1fr;
}

//col IE
.col--1 {
  grid-column: 1;
  -ms-grid-column: 1;
}

.col--2 {
  grid-column: 2;
  -ms-grid-column: 2;
}

.col--3 {
  grid-column: 3;
  -ms-grid-column: 3;
}

.col--4 {
  grid-column: 4;
  -ms-grid-column: 4;
}

.col--5 {
  grid-column: 5;
  -ms-grid-column: 5;
}

.col--6 {
  grid-column: 6;
  -ms-grid-column: 6;
}

.col--7 {
  grid-column: 7;
  -ms-grid-column: 7;
}

.col--8 {
  grid-column: 8;
  -ms-grid-column: 8;
}


//rows IE
.row--1 {
  grid-row: 1;
  -ms-grid-row: 1;
}

.row--2 {
  grid-row: 2;
  -ms-grid-row: 2;
}

.row--3 {
  grid-row: 3;
  -ms-grid-row: 3;
}

.row--4 {
  grid-row: 4;
  -ms-grid-row: 4;
}

.row--5 {
  grid-row: 5;
  -ms-grid-row: 5;
}

.row--6 {
  grid-row: 6;
  -ms-grid-row: 6;
}

.row--7 {
  grid-row: 7;
  -ms-grid-row: 7;
}

.row--8 {
  grid-row: 8;
  -ms-grid-row: 8;
}

//repeating components

.button {
  margin: 3em 0;

  a{
    text-decoration: none;
    color: $color-white;
    padding: 10px 10px;
    border: 2px solid $color-white;
    border-radius: $radius;
    font-size: $font-small;
    margin-bottom: 4em;
    transition: .5s ease;

    &:hover {
      background-color: $color-darkblue;
    }

    &:active {
      background-color: $color-darkblue;
    }
  }
}

.button-dark {
  margin-bottom: 3em;

  a{
    text-decoration: none;
    color: $color-darkblue;
    background-color: $color-white;
    padding: 10px 10px;
    border: 2px solid $color-darkblue;
    border-radius: $radius;
    font-size: $font-small;
    margin-bottom: 4em;
    transition: .5s ease;

    &:hover {
      background-color: $color-darkblue;
      color: $color-white;
    }

    &:active {
      background-color: $color-darkblue;
      color: $color-white;
    }
  }
}

button {
  background-color: $color-darkblue;
  text-decoration: none;
  color: $color-white;
  padding: 10px 10px;
  border: 2px solid $color-white;
  border-radius: $radius;
  font-size: $font-small;
  margin-bottom: 4em;
  transition: .5s ease;

  &:hover {
    background-color: $color-darkblue;
  }

  &:active {
    background-color: $color-darkblue;
  }
}


//ICONS

.icon--github {
  background-image: url('assets/github-brands.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.icon--twitter {
  background-image: url('assets/twitter-brands.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.icon--linkedin {
  background-image: url('assets/linkedin-in-brands.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.icon--email {
  background-image: url('assets/at-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
}
