@import "constants";
@import "layout";

//NAV

#navbar {
  position: fixed;
  font-weight: $font-big;
  background: transparent;
  height: 50px;
  padding: 1em 0;
  width: 100%;
}

ul {
  background-color: none;
  list-style-type: none;
  margin:0 auto;
  vertical-align: middle;
}

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
  color: $color-white;
}

li a {
  text-decoration: none;
  color: $color-white;
  padding: 10px 8px;
    
  &:hover {
    color: $color-red;
  }

  &:active {
    color: $color-darkred;
  }
}

li a.special-link {
  border: 2px solid $color-white;
  border-radius: $radius;
  background-color: transparent;
  color: $color-white;

  &:hover {
    background-color: $color-red;
    border: 2px solid $color-white;
    color: $color-white;
  }

  &:active {
    background-color: $color-darkred;
    color: $color-white;
  }
}


//HERO

.hero {
  background: linear-gradient(to right, #FF0844, rgb(241, 108, 130));
  padding: $card-padding;
  color: $color-white;
}

//ABOUT
.about {
  text-align: center;

  img {
    height: 10em;
    width: 10em;
  }


.about-me {
  margin: 0 auto;
  padding-top: $padding-top;
}

}
//OTHER CONTENT
.projects {
  background: red;
}

.skills, .contact {
  background: grey;
}
