html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0; }

h1 {
  font-size: 54px; }

h2 {
  font-size: 36px; }

section {
  min-height: 100vh;
  padding: 10% 5%; }

.layout--two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.layout--three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.layout--four-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.layout--five-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.button {
  margin: 3em 0; }
  .button a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 10px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-size: 36px;
    margin: 2rem 0; }
    .button a:hover {
      background-color: #DC143C; }
    .button a:active {
      background-color: #9a0e2a; }

.button-dark {
  margin: 3em 0; }
  .button-dark a {
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 36px;
    margin: 2rem 0; }
    .button-dark a:hover {
      background-color: #DC143C;
      color: #FFFFFF; }
    .button-dark a:active {
      background-color: #9a0e2a;
      color: #FFFFFF; }

.all-red {
  color: #DC143C; }

#navbar {
  position: fixed;
  font-weight: 54px;
  background: transparent;
  height: 50px;
  padding: 1em 0;
  width: 100%; }

ul {
  background-color: none;
  list-style-type: none;
  margin: 0 auto;
  vertical-align: middle; }

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
  color: #FFFFFF; }

li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 8px; }
  li a:hover {
    color: #DC143C; }
  li a:active {
    color: #9a0e2a; }

li a.special-link {
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: transparent;
  color: #FFFFFF; }
  li a.special-link:hover {
    background-color: #DC143C;
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
  li a.special-link:active {
    background-color: #9a0e2a;
    color: #FFFFFF; }

.hero {
  background: linear-gradient(to right, #FF0844, #f16c82);
  padding: 10% 5%;
  color: #FFFFFF; }

.button {
  margin: 3em 0; }
  .button a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 36px;
    margin: 2rem 0; }
    .button a:hover {
      background-color: #DC143C; }
    .button a:active {
      background-color: #9a0e2a; }

.about {
  text-align: center; }
  .about img {
    height: 10em;
    width: 10em; }
  .about .about-me {
    margin: 0 auto;
    padding-top: 50px; }

.projects {
  background: red; }

.skills, .contact {
  background: grey; }
