@import "_constants.scss";
@import "_layout.scss";

//NAV

#navbar {
  color: $color-white;
  font-weight: $font-big;
  height: 40px;
  padding: .5em 0;
  position: fixed;
  width: 88.35%;
  z-index: 2;
}

.nav--trans {
  background-color: transparent;
  transition: all .5s ease-in-out;
}

.nav--color {
  background-color: $color-eggplant;
}

.nav-content {
  width: 60%;
  margin: 0 auto;
}

ul {
  background-color: none;
  list-style-type: none;
  margin:0 auto;
  vertical-align: middle;
}

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
  color: $color-white;

  img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px;
  }
}

li a {
  text-decoration: none;
  color: $color-white;
  padding: 10px 8px;
  transition: .5s ease;

  &:hover {
    border-bottom: 2px solid $color-white;
    transition: .2s ease;
  }
}

li a.astronaut {
  content: url(assets/astro.svg);
  transform: scale(2);
  padding-top: 5px;

  &:hover {
    border-bottom: none;
  }
}

li a.special-link {
  border: 2px solid $color-white;
  border-radius: $radius;
  background-color: transparent;
  color: $color-white;
  transition: .5s ease;

  &:hover {
    background-color: $color-darkblue;
    border: 3px solid $color-white;
    color: $color-white;
    font-weight: bolder;
    transition: .2s ease;
  }

  &:active {
    background-color: $color-darkblue;
    color: $color-white;
    transition: .5s ease;
  }
}

.content {
  overflow-y: hidden;
}
//back to top button

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 7%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color-purple;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

//HERO

.hero {
  background-attachment: fixed;
  background-color: $color-black;
  background-image: url(assets/us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  padding-top: calc(50px + 1em);
}

.hero-content {
  width: 60%;
  margin: 8% auto;
  text-align: center;

   h1 {
    margin-top: 0;
  }

  .loc {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px;
  }

  .loc__text {
      display: inline;
  }

  .button {
    padding-top: 2em;
  }
}


//ABOUT
.about {
  width: 100%;
  margin-top: -38px;
  text-align: center;
  padding-bottom: 4em;

  .about--website, .about--communication {
    padding: 45px 0 85px 0;
    background-color: $color-eggplant;
    color: white;

    & a {
      color: white;
      font-weight: bold;
    }

    & a:hover {
      color: $color-purple;
      transition: color 0.25s ease-out;
    }
  }

  .about--website {
    margin-right: 10px;
  }

  .about--communication {
    color: white;
    margin-left: 10px;

  }

  .about--communication__header{
    &::before {
      content: '✎ '
    }
  }

  .about--website__header {
    &::before {
      content: '❴ ❵ '
    }
  }
}

.button {
  padding-top: 3em;
}

.about--website__text, .about--communication__text, .about--communication__text--bold {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.about--communication__text--bold {
  font-weight: bold;
}

//skills

.my-skills {
  background-attachment: fixed;
  background-image: url(assets/us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 6em;

  p {
    color: $color-white;
  }


  p.special {
    font-weight: bold;
  }

  .my-skills__wrapper {
    width: 60%;
    margin: 3em auto 0 auto;
  }

  .skill-wrap {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .skill-name {
    height: 40px;
    background-color: transparent;
    line-height: 40px;
    font-size: $font-smaller;
    color: white;
    clear: both;
    float: left;
    padding-left: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
  }


 .skillbar-wrapper {
  position:relative;
  display:inline-block;
  background-color:#E6E6E6;
  height:40px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
 }

  .skillbar-bar {
  height: 40px;
  width: 0px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  }

  #skillbar_html,  #skillbar_js, #skillbar_scrum,  #skillbar_css,  #skillbar_react, #skillbar_git, #skillbar_ruby, #skillbar_mot  {
  background-color: $color-cyan;
  }

  .skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size: $font-mini;
  height:35px;
  line-height:35px;
  color:black;
  overflow: hidden;
  }

  .skill-bar-percent--bold {
    font-weight: bold;
  }

}

//PROJECTS
.projects {
  background-color: transparent;
  padding-bottom: 6em;
  margin-top: -38px;
}

.portfolio-grid {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: $card-padding;
  flex-flow: row wrap;

  .container {
    position: relative;
    margin: 20px auto 20px auto;
  }

  img {
    justify-self: center;
    display: block;
    width: 12em;
    height: 12em;
    box-sizing: border-box;
    margin: 20px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 12em;
    height: 12em;
    margin: 20px;
    opacity: 0;
    border-radius: 3px;
    transition: .3s ease;
    box-sizing: border-box;
    background-color: $color-darkblue;
  }

  .container:hover .overlay {
    opacity: 1;
    transition: .5s ease;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

//CONTACT
footer {
  background: $color-eggplant;
}

.socials {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 0;
}

.social-container {
  color: $color-black;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  margin: 20px;
  padding: 5px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $color-darkblue;
    transition: .8s ease;
  }

  &:active {
    background-color: $color-darkblue;
  }

  a {
    text-decoration: none;
    color: $color-white;
  }

  i {
    width: 2em;
    height: 2em;
    margin: 8px auto 0 auto;
    display: inline-block;
    }

  h3 {
    margin: 0.5em;
    color: $color-white;
  }
}


.copy {
  background-color: $color-black;
  color: $color-white;
  font-size: 12px;
  text-align: center;
  padding: 0 1em;
  margin: 0;
}



@media only screen and (min-width: 550px) and (max-width: 1000px) {

  html, body {
    width: 100%;
    margin: 0 auto;
  }

  #navbar {
    width: 100%;
  }

  .nav-content {
    width: 80%;
    margin: 0 auto;
  }

  .hero-content {
    width: 80%;
    margin: 8% auto;
    text-align: center;
  }

  .skills-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .about {
    width: 80%;
    margin: 0 auto;
  }

  .about--website, .about--communication {
    border-radius: 6px;
    padding: 25px 0;
  }

  .portfolio-grid {
    width: 80%;
    margin: 0 auto;
  }

  .socials {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 0;
  }
}



@media only screen and (max-width: 549px) {
  html, body {
    width: 100%;
    margin: 0;
  }

  #navbar {
    width: 100%;
  }

  h1 {
    font-size: $font-reg;
  }


  h2 {
    font-size: $font-small;
  }

  h3 {
    font-size: $font-smaller;
  }

  .hero {
    background-attachment: fixed;
    background-color: $color-black;
    background-image: url(assets/us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    padding-top: calc(50px + 1em);

    .content-left {
      padding-left: 20px;
    }
  }

  .nav-content {
    width: 90%;
    margin: 0 auto;
  }

  .hero-content {
    width: 90%;
    margin: 20% auto;
    text-align: center;
  }

  .button-anim {
    padding-top: 0;

    a {
      padding-top: 0;
    }

    .button {
      margin: 2em 0;
    }
  }

  .skills-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .about {
    width: 90%;
    margin: 0 auto;

    .layout--two-columns {
      display: block;
    }


    .about--website {
      margin-right: 0;
    }

    .about--communication {
      margin-top: 20px;
      margin-left: 0;
    }
  }
    .portfolio-grid {
      width: 100%;

      .container {
        margin: 0 auto;
      }

      img, .overlay {
        height: 14em;
        width: 14em;
      }
  }

  .overlay {
    display: none;
  }

  .socials {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    }
  }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  nav {
    ul {
      display: inline-block;
    }
    li {
      display: inline-block;
    }
  }

  .socials {
    width: 80%;
    margin: 0 auto;

    .social-container {
      display: inline-block;
    }
  }
}

@supports (-ms-ime-align: auto) {
  nav {
    ul {
      display: inline-block;
    }
    li {
      display: inline-block;
    }
  }

  .socials {
    width: 80%;
    margin: 0 auto;

    .social-container {
      display: inline-block;
    }
  }
}
