body {
  font-family: 'Lato', sans-serif;
  margin: 0; }

h1 {
  font-size: 54px;
  color: #FFFFFF; }

h2 {
  font-size: 36px;
  color: #FFFFFF; }

section {
  position: relative;
  width: auto;
  height: 100vh; }

.hero {
  background: linear-gradient(to right, #FF0844, #FF4563);
  padding: 10% 5%;
  z-index: 1; }

.learn {
  margin: 3em 0; }
  .learn a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 36px;
    margin: 2rem 0; }
    .learn a:hover {
      background-color: #DC143C; }
    .learn a:active {
      background-color: #9a0e2a; }

#navbar {
  width: 100%;
  font-weight: 54px;
  background: #000000;
  height: 50px;
  padding: 1em 0;
  overflow: hidden;
  z-index: 2; }

.sticky {
  position: fixed;
  top: 0; }

ul {
  background-color: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0 auto;
  vertical-align: middle; }

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
  color: #FFFFFF; }

li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 8px; }
  li a:hover {
    color: #DC143C; }
  li a:active {
    color: #9a0e2a; }

li a.contact {
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background-color: #000000; }
  li a.contact:hover {
    background-color: #DC143C;
    color: #FFFFFF; }
  li a.contact:active {
    background-color: #9a0e2a;
    color: #FFFFFF; }

.about {
  padding-top: 50px;
  margin-bottom: 10px;
  z-index: 0; }

.val {
  text-align: center; }
  .val img {
    border-radius: 50%;
    height: 15em; }

.projects {
  background: white;
  margin-bottom: 10px; }

.skills, .contact {
  background: grey;
  margin-bottom: 10px; }
