html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0; }

section {
  min-height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em; }

h1 {
  font-size: 54px; }

h2 {
  font-size: 36px; }

.header {
  color: #FF0844;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  font-size: 36px;
  font-weight: bold; }

.layout--two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.layout--two-columns-auto {
  display: grid;
  grid-template-columns: auto 1fr; }

.layout--two-columns-large-small {
  display: grid;
  grid-template-columns: 2fr 1fr; }

.layout--three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.layout--four-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.layout--five-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.layout--two-rows {
  display: grid;
  grid-template-rows: 1fr 1fr; }

.layout--three-rows {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; }

.button {
  margin: 3em 0; }
  .button a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 10px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-size: 24px;
    margin-bottom: 4em;
    transition: .5s ease; }
    .button a:hover {
      background-color: #DC143C; }
    .button a:active {
      background-color: #9a0e2a; }

.button-dark {
  margin-bottom: 3em; }
  .button-dark a {
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 24px;
    margin-bottom: 4em;
    transition: .5s ease; }
    .button-dark a:hover {
      background-color: #DC143C;
      color: #FFFFFF; }
    .button-dark a:active {
      background-color: #9a0e2a;
      color: #FFFFFF; }

.all-red {
  color: #DC143C; }

.icon--github {
  background-image: url("assets/github-brands.svg");
  background-position: center;
  background-repeat: no-repeat; }

.icon--twitter {
  background-image: url("assets/twitter-brands.svg");
  background-position: center;
  background-repeat: no-repeat; }

.icon--linkedin {
  background-image: url("assets/linkedin-in-brands.svg");
  background-position: center;
  background-repeat: no-repeat; }

#navbar {
  position: fixed;
  font-weight: 54px;
  background-color: transparent;
  height: 50px;
  padding: 1em 0;
  width: 100%;
  z-index: 2; }

ul {
  background-color: none;
  list-style-type: none;
  margin: 0 auto;
  vertical-align: middle; }

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
  color: #FFFFFF; }
  li img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px; }

li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 8px; }
  li a:hover {
    color: #DC143C; }
  li a:active {
    color: #9a0e2a; }

li a.special-link {
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: transparent;
  color: #FFFFFF;
  transition: .5s ease; }
  li a.special-link:hover {
    background-color: #DC143C;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    transition: .5s ease; }
  li a.special-link:active {
    background-color: #9a0e2a;
    color: #FFFFFF;
    transition: .5s ease; }

.hero {
  background: linear-gradient(to right, #FF0844, #F16C82);
  padding-top: 2em;
  color: #FFFFFF; }
  .hero h1 {
    padding-top: 2em; }
  .hero img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px; }
  .hero .loc {
    display: inline; }

.about {
  text-align: center; }
  .about .all-red {
    margin-top: 10px; }

.icon {
  height: 5em;
  width: 5em; }

.about-me {
  margin: 4em auto 2em auto; }

.double-column {
  width: 70%;
  margin: 0 auto; }

.projects {
  background: #f2e9e4;
  padding-bottom: 6em; }

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 14em;
  padding-top: 2em; }
  .portfolio-grid .container {
    position: relative;
    justify-self: center; }
  .portfolio-grid img {
    justify-self: center;
    display: block;
    width: 10em;
    height: 10em;
    border-radius: 8px;
    box-shadow: 6px 6px 20px 0px #929090; }
  .portfolio-grid .overlay {
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10em;
    height: 10em;
    opacity: 0;
    transition: .5s ease;
    background-color: #9a0e2a; }
  .portfolio-grid .container:hover .overlay {
    opacity: 1; }
  .portfolio-grid .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

.contact {
  background: #FFFFFF;
  padding-bottom: 5em; }

.contact-form {
  background-color: #FF0844;
  width: 80%;
  margin: 0 auto; }

.contact-form--form {
  padding: 3em; }
  .contact-form--form label {
    display: block;
    margin: 1em 0;
    color: #FFFFFF; }
  .contact-form--form input, .contact-form--form texarea {
    border: none; }
  .contact-form--form input {
    height: 3em;
    width: 100%;
    padding-left: 1em; }
  .contact-form--form textarea {
    padding-left: 1em;
    position: relative;
    line-height: 20px;
    resize: none;
    width: 100%;
    font-family: 'Lato', sans-serif; }
  .contact-form--form .button {
    text-align: right;
    margin-bottom: 0; }

.socials {
  display: grid;
  padding: 3em; }

.social-wrap {
  text-align: center;
  text-decoration: none;
  color: #000000; }
  .social-wrap i {
    width: 2em;
    height: 2em;
    margin: 0 auto;
    display: inline-block; }
  .social-wrap h4 {
    margin-top: 0.5em; }

.social-wrap:hover > .icon--twitter {
  background-image: url("assets/twitter-hover.svg");
  transition: .5s ease; }

.social-wrap:hover > .icon--github {
  background-image: url("assets/github-hover.svg");
  transition: .5s ease; }

.social-wrap:hover > .icon--linkedin {
  background-image: url("assets/linkedin-hover.svg");
  transition: .5s ease; }

.social-wrap:hover > h4 {
  color: #FF0844;
  transition: .5s ease; }
