//constants

$color-red: #DC143C;
$color-white: #FFFFFF;
$color-black: #000000;

$font-big: 54px;
$font-reg: 46px;

$card-padding: 10% 5%;

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: $font-big;
  color: $color-white;
}

h2 {
  font-size: $font-reg;
  color: $color-white;
}

section {
  position: relative;
  width: auto;
  height: 100vh;
}

//NAV

nav {
  width: 100%;
  font-weight: $font-big;
  background: $color-black;
  height: 50px;
  padding: 1em 0;

}

ul {
  background-color: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin:0 auto;
  vertical-align: middle;
}

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
}

li .contact {
  border: 1px solid $color-white;
  border-radius: 8px;
  background-color: $color-black;

  &:hover {
    background-color: $color-red;
  }
}

li a {
  text-decoration: none;
  color: $color-white;
  padding: 10px 5px;
}


//HERO

.hero {
  background: linear-gradient(to right, #FF0844, #FF4563);
  padding: $card-padding;
}





.projects {
  background: white;
  margin-bottom: 10px;
}

.skills, .contact {
  background: grey;
  margin-bottom: 10px;
}
