@import "constants";
@import "layout";

//NAV

#navbar {
  position: fixed;
  font-weight: $font-big;
  background-color: transparent;
  height: 50px;
  padding: 1em 0;
  width: 100%;
  z-index: 2;
}

ul {
  background-color: none;
  list-style-type: none;
  margin:0 auto;
  vertical-align: middle;
}

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
  color: $color-white;

  img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px;
  }
}

li a {
  text-decoration: none;
  color: $color-white;
  padding: 10px 8px;
    
  &:hover {
    color: $color-red;
  }

  &:active {
    color: $color-darkred;
  }
}

li a.special-link {
  border: 2px solid $color-white;
  border-radius: $radius;
  background-color: transparent;
  color: $color-white;
  transition: .5s ease;

  &:hover {
    background-color: $color-red;
    border: 2px solid $color-white;
    color: $color-white;
    transition: .5s ease;
  }

  &:active {
    background-color: $color-darkred;
    color: $color-white;
    transition: .5s ease;
  }
}


//HERO

.hero {
  background: linear-gradient(to right, #FF0844, #F16C82);
  padding-top: $card-padding;
  color: $color-white;
  
  h1 {
    padding-top: $card-padding;
  }

  img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px;
  }
  
  .loc {
    display: inline;
  }
}

//ABOUT
.about {
  text-align: center;

  .all-red {
    margin-top: 10px;
  }
}

.icon {
  height: 5em;
  width: 5em;
}

.about-me {
  margin: 4em auto 2em auto;
}

.double-column {
  width: 70%;
  margin: 0 auto;
}

//PROJECTS
.projects {
  background: #f2e9e4;
  padding-bottom: 6em;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 14em;
  padding-top: $card-padding;

  .container {
    position: relative;
    justify-self: center;
  }

  img {
    justify-self: center;
    display: block;
    width: 10em;
    height: 10em;
    border-radius: 8px;
    box-shadow: $box-shadow;
  }

  .overlay {
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10em;
    height: 10em;
    opacity: 0;
    transition: .5s ease;
    background-color: $color-darkred;
  }

  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

//CONTACT
.contact {
  background: $color-white;
  padding-bottom: 5em;
}

.contact-form {
  background-color: #FF0844;
  width: 80%;
  margin: 0 auto;
}

.contact-form--form {
  padding: 3em;

  label {
    display: block;
    margin: 1em 0;
    color: $color-white;
  }

  input, texarea {
    border: none;
  }

  input {
    height: 3em;
    width: 100%;
    padding-left: 1em;
  }

  textarea {
    padding-left: 1em;
    position: relative; 
    line-height: 20px;
    resize: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
  }

  .button {
    text-align: right;
    margin-bottom: 0;
  }
}

.socials {
  display: grid;
  padding: 3em;
}

.social-wrap {
  text-align: center;
  text-decoration: none;
  color: $color-black;

i {
  width: 2em;
  height: 2em;
  margin: 0 auto;
  display: inline-block;
  }

  h4 {
    margin-top: 0.5em;
  }
}

.social-wrap:hover>.icon--twitter{
  background-image: url('assets/twitter-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>.icon--github{
  background-image: url('assets/github-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>.icon--linkedin{
  background-image: url('assets/linkedin-hover.svg');
  transition: .5s ease;
}


.social-wrap:hover>h4 {
  color: #FF0844;
  transition: .5s ease;
}