@import "constants";
@import "layout";

//NAV

#navbar {
  position: fixed;
  font-weight: $font-big;
  background: $background-gradient;
  height: 50px;
  padding: 1em 0;
  width: 100%;
  z-index: 2;
}

.nav-content {
  width: 60%;
  margin: 0 auto;
}

ul {
  background-color: none;
  list-style-type: none;
  margin:0 auto;
  vertical-align: middle;
}

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
  color: $color-white;

  img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px;
  }
}

li a {
  text-decoration: none;
  color: $color-white;
  padding: 10px 8px;
  transition: .5s ease;
    
  &:hover {
   color: $color-darkblue;
  }

  &:active {
    color: $color-darkblue;
  }
}

li a.astronaut {
  content: url(assets/astro.svg);
  transform: scale(2);
  padding-top: 5px;
}

li a.special-link {
  border: 2px solid $color-white;
  border-radius: $radius;
  background-color: transparent;
  color: $color-white;
  transition: .5s ease;

  &:hover {
    background-color: $color-darkblue;
    border: 2px solid $color-white;
    color: $color-white;
    transition: .5s ease;
  }

  &:active {
    background-color: $color-darkblue;
    color: $color-white;
    transition: .5s ease;
  }
}

.content {
  overflow-y: hidden;
}

//HERO

.hero {
  padding-top: calc(50px + 1em);
  background: $background-gradient;
  color: $color-white;
}

.hero-content {
  width: 60%;
  margin: 8% auto;
  text-align: center;

   h1 {
    margin-top: 0;

  } 

  .loc {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px;
  }

  .loc__text {
      display: inline;
  }

  .button {
    padding-top: 2em;
  }
}


//ABOUT
.about {
  width: 60%;
  margin: 0 auto;
  margin-top: -38px;
  text-align: center;
  padding-bottom: 4em;
  
  .about--website, .about--communication {
    border-radius: 6px;
    padding: 45px 0;
    background-color: rgb(226, 207, 207);
  }

  .about--website {
    margin-right: 5px;
  }

  .about--communication {
    margin-left: 5px;
  }
  .about--communication__header{
    margin-top: 10px;
    color: $color-blue;

    &::before {
      content: '✎ '
    }
  }

  .about--website__header {
    margin-top: 10px;
    color: $color-blue;

    &::before {
      content: '❴ ❵ '
    }
  }
}

.button {
  padding-top: 3em;
}

.about--website__text, .about--communication__text {
  width: 70%;
  margin: 0 auto;
}

//skills 

.my-skills {
  background: $background-gradient;
  padding-bottom: 6em;

  p {
    color: $color-white;
  }

  
  p.special {
    font-weight: bold;
  }

  .my-skills__wrapper {
    width: 60%;
    margin: 3em auto 0 auto;
  }
 
.skill-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
} 

.skill-name {
  height: 40px;
  line-height: 40px;
  font-size: $font-mini;
  color: white;
  clear: both;
  float: left;
  padding-left: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  width: calc(40% - 10px);
  overflow: hidden;
}

 #skill_html,  #skill_js {
  background-color:#088A85;
}

 #skill_css, #skill_react {
  background-color:#5858FA;
}

 #skill_git, #skill_ruby {
  background-color:#04B404;
}

 #skill_mot {
  background-color:#5106ba;
}

 .skillbar-wrapper {
  position:relative;
  display:inline-block;
  width:60%;
  background-color:#E6E6E6;
  height:40px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
 }
 .skillbar-bar {
  height: 40px;
  width: 0px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
 }
 #skillbar_html,  #skillbar_js {
  background-color:#01DFD7;
 }

 #skillbar_css,  #skillbar_react {
  background-color:#8181F7;
 }
 #skillbar_git, #skillbar_ruby {
  background-color:#01DF01;
 }

 #skillbar_mot {
  background-color:#8550ce;
 }

 .skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size: $font-mini;
  height:35px;
  line-height:35px;
  color:black;
  overflow: hidden;
 }
 
 .skill-bar-percent--bold {
   font-weight: bold;
 }

}

//PROJECTS
.projects {
  background: $color-off-white;
  padding-bottom: 6em;
  margin-top: -38px;
}

.portfolio-grid {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding-top: $card-padding;
  flex-flow: row wrap;

  .container {
    position: relative;
    margin: 20px auto 20px auto;
  }

  img {
    justify-self: center;
    display: block;
    width: 12em;
    height: 12em;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: $box-shadow;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 12em;
    height: 12em;
    margin: 20px;
    opacity: 0;
    border-radius: 3px;
    transition: .3s ease;
    box-sizing: border-box;
    background-color: $color-darkblue;
  }

  .container:hover .overlay {
    opacity: 1;
    transition: .5s ease;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

//CONTACT
footer {
  background: $background-gradient;
}

.socials {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 0;
  padding-top: 2em;
}

.social-container {
  color: $color-black;
  margin: 20px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;

  a {
    text-decoration: none;
    color: $color-white;
  }

  i {
    width: 2em;
    height: 2em;
    margin: 0 auto;
    display: inline-block;
    }

  h3 {
    margin-top: 0.5em;
  }
}

.social-wrap:hover>.icon--twitter{
  background-image: url('assets/twitter-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>.icon--github{
  background-image: url('assets/github-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>.icon--linkedin{
  background-image: url('assets/linkedin-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>.icon--email{
  background-image: url('assets/at-solid-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>h3 {
  color: $color-darkblue;
  transition: .5s ease;
}

.copy {
  background-color: $color-black;
  color: $color-white;
  font-size: 12px;
  text-align: center;
  padding: 1em;
  margin-bottom: 0;
}



@media only screen and (min-width: 550px) and (max-width: 1000px) {

  body {
    width: 100%;
  }

  .nav-content {
    width: 80%;
    margin: 0 auto;
  }

  .hero-content {
    width: 80%;
    margin: 8% auto;
    text-align: center;
  }

  .skills-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .hero {
    background-color: red;
  }

  .about {
    width: 80%;
    margin: 0 auto;
  }

  .about--website, .about--communication {
    border-radius: 6px;
    padding: 25px 0;
  }

  .portfolio-grid {
    width: 80%;
    margin: 0 auto;
  }

  .socials {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 0;
    padding-top: 2em;
  }
}



@media only screen and (max-width: 549px) {

  h1 {
    font-size: $font-reg;
  }


  h2 {
    font-size: $font-small;
  }
  
  h3 {
    font-size: $font-smaller;
  }


  .hero {
    background-color: yellow;

    .content-left {
      padding-left: 20px;
    }
  }

  .nav-content {
    width: 90%;
    margin: 0 auto;
  }

  .hero-content {
    width: 90%;
    margin: 20% auto;
    text-align: center;
  }

  .button-anim {
    padding-top: 0;

    a {
      padding-top: 0;
    }

    .button {
      margin: 2em 0;
    }
  }

  .skills-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .about {
    width: 90%;
    margin: 0 auto;

    .layout--two-columns {
      display: block;
    }
    

    .about--communication {
      margin-top: 20px;
    }
  }
    .portfolio-grid {
      width: 100%;

      .container {
        margin: 0 auto;
      }

      img, .overlay {
        width: 14em;
        height: 14em;
      }
  }

  .overlay {
    display: none;
  }

  .socials {
    display: block;
      width: 60%;
      margin: 0 auto;
    }
  }


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  nav {
    ul {
      display: inline-block;
    }
    li {
      display: inline-block;
    }
  }

  .socials {
    width: 80%;
    margin: 0 auto;

    .social-container {
      display: inline-block;
    }
  }
}

@supports (-ms-ime-align: auto) {
  nav {
    ul {
      display: inline-block;
    }
    li {
      display: inline-block;
    }
  }
  
  .socials {
    width: 80%;
    margin: 0 auto;

    .social-container {
      display: inline-block;
    }
  }
}
