html {
  scroll-behavior: smooth; }

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow: auto;
  position: relative; }

section {
  min-height: 100vh;
  min-width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em; }

h1 {
  font-size: 54px; }

h2 {
  font-size: 36px; }

.header {
  color: #0844ff;
  padding-top: 4em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 36px;
  font-weight: bold; }

.layout--two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.layout--two-columns-auto {
  display: grid;
  grid-template-columns: auto 1fr; }

.layout--two-columns-large-small {
  display: grid;
  grid-template-columns: 2fr 1fr; }

.layout--three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.layout--four-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.layout--five-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.layout--two-rows {
  display: grid;
  grid-template-rows: 1fr 1fr; }

.layout--three-rows {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; }

.layout--three-rows-fix {
  display: grid;
  grid-template-rows: 1fr auto 1fr; }

.button {
  margin: 3em 0; }
  .button a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 10px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-size: 24px;
    margin-bottom: 4em;
    transition: .5s ease; }
    .button a:hover {
      background-color: #DC143C; }
    .button a:active {
      background-color: #9a0e2a; }

.button-dark {
  margin-bottom: 3em; }
  .button-dark a {
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 24px;
    margin-bottom: 4em;
    transition: .5s ease; }
    .button-dark a:hover {
      background-color: #DC143C;
      color: #FFFFFF; }
    .button-dark a:active {
      background-color: #9a0e2a;
      color: #FFFFFF; }

button {
  background-color: #0844ff;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 10px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  font-size: 24px;
  margin-bottom: 4em;
  transition: .5s ease; }
  button:hover {
    background-color: #DC143C; }
  button:active {
    background-color: #9a0e2a; }

.icon--github {
  background-image: url("assets/github-brands.svg");
  background-position: center;
  background-repeat: no-repeat; }

.icon--twitter {
  background-image: url("assets/twitter-brands.svg");
  background-position: center;
  background-repeat: no-repeat; }

.icon--linkedin {
  background-image: url("assets/linkedin-in-brands.svg");
  background-position: center;
  background-repeat: no-repeat; }

.icon--email {
  background-image: url("assets/at-solid.svg");
  background-position: center;
  background-repeat: no-repeat; }

#navbar {
  position: fixed;
  font-weight: 54px;
  background: linear-gradient(to right, #0844ff, #f5c5cd);
  height: 50px;
  padding: 1em 0;
  width: 100%;
  z-index: 2; }

ul {
  background-color: none;
  list-style-type: none;
  margin: 0 auto;
  vertical-align: middle; }

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
  color: #FFFFFF; }
  li img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px; }

li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 8px;
  transition: .5s ease; }
  li a:hover {
    color: #DC143C; }
  li a:active {
    color: #9a0e2a; }

li a.astronaut {
  content: url(assets/astro.svg);
  transform: scale(2);
  padding-top: 5px; }

li a.special-link {
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: transparent;
  color: #FFFFFF;
  transition: .5s ease; }
  li a.special-link:hover {
    background-color: #DC143C;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    transition: .5s ease; }
  li a.special-link:active {
    background-color: #9a0e2a;
    color: #FFFFFF;
    transition: .5s ease; }

.hero {
  background: linear-gradient(to right, #0844ff, #f5c5cd);
  padding-top: 0;
  color: #FFFFFF;
  padding-bottom: 0; }

.content-left {
  padding-left: 4em;
  display: grid; }
  .content-left h1 {
    margin-top: 4em; }
  .content-left img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px; }
  .content-left .loc {
    display: inline; }
  .content-left .button {
    padding-top: 2em; }

.content-right {
  margin: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%; }
  .content-right canvas {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }

.about {
  text-align: center;
  padding-bottom: 6em; }
  .about .all-red {
    margin-top: 10px;
    color: #0844ff; }

.icon {
  height: 5em;
  width: 5em; }

.download {
  margin: 4em auto 2em auto; }

.double-column {
  width: 70%;
  margin: 0 auto; }

.my-skills {
  background: linear-gradient(to right, #0844ff, #f5c5cd);
  padding-bottom: 6em; }
  .my-skills p {
    color: #FFFFFF; }
  .my-skills .skills-wrapper {
    width: 60%;
    margin: 0 auto; }
  .my-skills .container {
    background-color: #ddd;
    border-radius: 6px;
    width: 100%; }
    .my-skills .container .skills {
      border-radius: 6px;
      text-align: right;
      padding: 10px;
      color: white; }
    .my-skills .container .html {
      width: 90%;
      background-color: #DC143C; }
    .my-skills .container .css {
      width: 80%;
      background-color: #DC143C; }
    .my-skills .container .js {
      width: 65%;
      background-color: #DC143C; }
    .my-skills .container .react {
      width: 40%;
      background-color: #DC143C; }
    .my-skills .container .ruby {
      width: 20%;
      background-color: #DC143C; }

.projects {
  background: #f2e9e4;
  padding-bottom: 6em;
  margin-top: -38px; }

.portfolio-grid {
  display: flex;
  padding-top: 1em;
  flex-flow: row wrap;
  justify-content: flex-end; }
  .portfolio-grid .container {
    position: relative;
    margin: 30px auto 50px auto; }
  .portfolio-grid img {
    justify-self: center;
    display: block;
    width: 18em;
    height: 18em;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 2git 0px;
    box-shadow: 6px 6px 20px 0px #929090; }
  .portfolio-grid .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 18em;
    height: 18em;
    margin: 20px;
    opacity: 0;
    border-radius: 8px;
    transition: .3s ease;
    box-sizing: border-box;
    background-color: #9a0e2a; }
  .portfolio-grid .container:hover .overlay {
    opacity: 1; }
  .portfolio-grid .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

.contact {
  background: linear-gradient(to right, #0844ff, #f5c5cd); }

/* .contact-form {
  background-color: #FF0844;
  width: 80%;
  margin: 0 auto;
}

.contact-form--form {
  padding: 3em;

  label {
    display: block;
    margin: 1em 0;
    color: $color-white;
  }

  input, texarea {
    border: none;
  }

  input {
    height: 3em;
    width: 100%;
    padding-left: 1em;
  }

  textarea {
    padding-left: 1em;
    position: relative; 
    line-height: 20px;
    resize: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
  }

  .button {
    text-align: right;
    margin-bottom: 0;
  }
} */
.socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 0;
  padding-top: 2em; }

.social-container {
  color: #000000;
  margin: 20px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none; }
  .social-container a {
    text-decoration: none;
    color: #FFFFFF; }
  .social-container i {
    width: 2em;
    height: 2em;
    margin: 0 auto;
    display: inline-block; }
  .social-container h4 {
    margin-top: 0.5em; }

.social-wrap:hover > .icon--twitter {
  background-image: url("assets/twitter-hover.svg");
  transition: .5s ease; }

.social-wrap:hover > .icon--github {
  background-image: url("assets/github-hover.svg");
  transition: .5s ease; }

.social-wrap:hover > .icon--linkedin {
  background-image: url("assets/linkedin-hover.svg");
  transition: .5s ease; }

.social-wrap:hover > .icon--email {
  background-image: url("assets/at-solid-hover.svg");
  transition: .5s ease; }

.social-wrap:hover > h4 {
  color: #9a0e2a;
  transition: .5s ease; }

.copy {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  padding: 1em;
  margin-bottom: 0; }

@media only screen and (min-width: 401px) and (max-width: 1000px) {
  body {
    width: 100%; }
  .hero {
    background-color: red; }
  .content-right {
    display: none; } }

@media only screen and (max-width: 400px) {
  .hero {
    background-color: yellow; }
    .hero .content-left {
      padding-left: 20px; }
  .about .layout--two-columns {
    display: block; }
  .about .communication, .about .website {
    display: block;
    width: 100%; }
  .about .communication {
    margin-top: 20px; }
  section {
    padding-left: 10px; }
  .socials {
    display: block; } }
