@import "constants";
@import "layout";

//NAV

#navbar {
  position: fixed;
  font-weight: $font-big;
  background: $background-gradient;
  height: 50px;
  padding: 1em 0;
  width: 100%;
  z-index: 2;
}

.nav-content {
  width: 60%;
  margin: 0 auto;
}

ul {
  background-color: none;
  list-style-type: none;
  margin:0 auto;
  vertical-align: middle;
}

li {
  display: inline;
  justify-self: center;
  padding-top: 10px;
  color: $color-white;

  img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px;
  }
}

li a {
  text-decoration: none;
  color: $color-white;
  padding: 10px 8px;
  transition: .5s ease;
    
  &:hover {
    color: $color-red;
  }

  &:active {
    color: $color-darkred;
  }
}

li a.astronaut {
  content: url(assets/astro.svg);
  transform: scale(2);
  padding-top: 5px;
}

li a.special-link {
  border: 2px solid $color-white;
  border-radius: $radius;
  background-color: transparent;
  color: $color-white;
  transition: .5s ease;

  &:hover {
    background-color: $color-red;
    border: 2px solid $color-white;
    color: $color-white;
    transition: .5s ease;
  }

  &:active {
    background-color: $color-darkred;
    color: $color-white;
    transition: .5s ease;
  }
}

.content {
  overflow-y: hidden;
}



//HERO

.hero {
  padding-top: calc(50px + 1em);
  background: $background-gradient;
  color: $color-white;
}

.hero-content {
  width: 60%;
  margin: 8% auto;
  text-align: center;

   h1 {
    margin-top: 0;

  } 

  img {
    height: 1.7em;
    width: 1.7em;
    display: inline-block;
    padding-right: 10px;
  }

  .loc__text {
      display: inline;
  }

  .button {
    padding-top: 2em;
  }
}


//ABOUT
.about {
  width: 60%;
  margin: 0 auto;
  margin-top: -38px;
  text-align: center;
  padding-bottom: 4em;

  .all-red {
    margin-top: 10px;
    color: $color-pink;
  }
}

.icon {
  height: 5em;
  width: 5em;
}

.button {
  padding-top: 3em;
}

.double-column {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

//skills 

.my-skills {
  background: $background-gradient;
  padding-bottom: 6em;

  p {
    color: $color-white;
  }

  
  p.special {
    font-weight: bold;
  }

  .skills-wrapper {
    width: 60%;
    margin: 0 auto;
  }

  .container {
    background-color: $color-grey;
    border-radius: 6px;
    width: 100%;
    
    .skills {
      border-radius: 6px;
      text-align: right;
      padding: 10px;
      color: white;
    }

    .skills--special {
      border-radius: 6px;
      text-align: left;
      padding: 10px;
      color: black;
    }
    
    .html {width: 90%; background-color: $color-red;}
    .css {width: 80%; background-color: $color-red;}
    .git {width: 75%; background-color: $color-red;}
    .js {width: 65%; background-color: $color-red;}
    .react {background-color: $color-lightpink;}
    .ruby {background-color: $color-lightpink;}
    .learning {background-color: $color-red;}
  }
}

//PROJECTS
.projects {
  background: $color-off-white;
  padding-bottom: 6em;
  margin-top: -38px;
}

.portfolio-grid {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding-top: $card-padding;
  flex-flow: row wrap;
  justify-content: flex-end;

  .container {
    position: relative;
    margin: 30px auto 50px auto;
  }

  img {
    justify-self: center;
    display: block;
    width: 10em;
    height: 10em;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: $box-shadow;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10em;
    height: 10em;
    margin: 20px;
    opacity: 0;
    border-radius: 3px;
    transition: .3s ease;
    box-sizing: border-box;
    background-color: $color-darkred;
  }

  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

//CONTACT
footer {
  background: $background-gradient;
}

.socials {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 0;
  padding-top: 2em;
}

.social-container {
  color: $color-black;
  margin: 20px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;

  a {
    text-decoration: none;
    color: $color-white;
  }

  i {
    width: 2em;
    height: 2em;
    margin: 0 auto;
    display: inline-block;
    }

  h4 {
    margin-top: 0.5em;
  }
}

.social-wrap:hover>.icon--twitter{
  background-image: url('assets/twitter-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>.icon--github{
  background-image: url('assets/github-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>.icon--linkedin{
  background-image: url('assets/linkedin-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>.icon--email{
  background-image: url('assets/at-solid-hover.svg');
  transition: .5s ease;
}

.social-wrap:hover>h4 {
  color: $color-darkred;
  transition: .5s ease;
}

.copy {
  background-color: $color-black;
  color: $color-white;
  font-size: 12px;
  text-align: center;
  padding: 1em;
  margin-bottom: 0;
}



@media only screen and (min-width: 401px) and (max-width: 1000px) {

  body {
    width: 100%;
  }

  .nav-content {
    width: 80%;
    margin: 0 auto;
  }

  .hero-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .skills-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .hero {
    background-color: red;
  }

  .about {
    width: 80%;
    margin: 0 auto;
  }

  .portfolio-grid {
    width: 80%;
    margin: 0 auto;
  }

  .socials {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 0;
    padding-top: 2em;
  }
}



@media only screen and (max-width: 400px) {


  .hero {
    background-color: yellow;

    .content-left {
      padding-left: 20px;
    }
  }

  .nav-content {
    width: 90%;
    margin: 0 auto;
  }

  .hero-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .skills-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .about {
    width: 90%;
    margin: 0 auto;

    .layout--two-columns {
      display: block;
    }

    .communication, .website {
      display: block;
      width: 100%;
    }

    .communication {
      margin-top: 20px;
    }

    .portfolio-grid {
      width: 90%;
      margin: 0 auto;
    }
  }

  .overlay {
    display: none;
  }

  .socials {
    display: block;
      width: 60%;
      margin: 0 auto;
    }
  }