@import "constants";

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1 {
  font-size: $font-big;
}

h2 {
  font-size: $font-reg;
}

section {
  min-height: 100vh;
  padding: $card-padding;
}

//GRID
.layout--two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.layout--three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.layout--four-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
} 

.layout--five-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

//repeating components

.button {
  margin: 3em 0;

  a{
    text-decoration: none;
    color: $color-white;
    padding: 10px 10px;
    border: 2px solid $color-white;
    border-radius: $radius;
    font-size: $font-reg;
    margin: 2rem 0;

    &:hover {
      background-color: $color-red;
    }

    &:active {
      background-color: $color-darkred;
    }
  }
}

.button-dark {
  margin: 3em 0;

  a{
    text-decoration: none;
    color: $color-black;
    padding: 10px 10px;
    border: 2px solid $color-black;
    border-radius: $radius;
    font-size: $font-reg;
    margin: 2rem 0;

    &:hover {
      background-color: $color-red;
      color: $color-white;
    }

    &:active {
      background-color: $color-darkred;
      color: $color-white;
    }
  }
}

.all-red {
  color: $color-red;
}